*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-image: linear-gradient(45deg, cyan, yellow);
}

.main{
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
    padding: 10px 2%;
    border-radius: 15px;
}

.main h2{
    font-size: 40px;
    color: #ef5350;
    text-align: center;
}

.pokemon-boxes{
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    border-radius: 15px;
}

.pokemon-box{
    width: 29%;
    margin: 20px 2%;
    background-color: rgb(169, 212, 252);
    border-radius: 10px;
}


.pokemon-box img{
    width: 100%;
}

.pokemon-box p{
    color: black;
    font-size: 23px;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width:768px){
    .pokemon-box{width: 100%;}
    .pokemon-box img{
        max-width: 300px;
    }
}